<div class="container">
	<div class="navigator">
		<div class="title">Title</div>
		<div class="left">X</div>
		<div class="right">+</div>
	</div>
	<div class="wrap-cont">
		<div class="list-view-title">Settings</div>
		
		<div class="list-view-outer">
			<table class="list-view">
				<colgroup>
					<col style="width: 2em" />
					<col />
				</colgroup>
				<tr>
					<td>[X]</td>
					<td>123</td>
				</tr>
				<tr>
					<td>[X]</td>
					<td>123</td>
				</tr>
			</table>
		</div>
		
		<div class="list-view-title"></div>
		
		<div class="list-view-outer">
			<table class="list-view">
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
			</table>
		</div>
		
		<div class="list-view-title">Test</div>
		
		<div class="list-view-outer">
			<table class="list-view">
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
			</table>
		</div>
		
		<div class="inner-content">
			<p>This is home/index.html .</p>
			<p>
				<a href="~/home/page.html">Go to another page.</a>
			</p>
			<p>
				<input type="text" />
			</p>
		</div>
	</div>
</div>