body {
	margin: 0;
}

.container {
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 20px);
	transition: margin 0.2s ease;
	z-index: 0;
	box-shadow: 0 0 0.8em rgba(0,0,0,0.2);
	background-color: rgb(243,243,243);
}

#pagecomb-pool {
	display: none;
}

.navigator {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20px;
	height: 2.8em;
	background-color: rgba(247,247,248,0.98);
	width: 100%;
	z-index: 500;
	border-bottom: 0.07em solid #ddd;
	transition: opacity 0.2s ease, margin 0.2s ease;
}

.navigator.alpha {
	background-color: rgba(0,0,0,0);
}

.navigator .title {
	line-height: 1.3em;
	font-size: 1.3em;
	padding: 0.4em 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	transition: opacity 0.2s ease, margin 0.2s ease;
}

.wrap-cont {
	margin-top: 2.8em;
	width: 100%;
}