body {
	margin: 0;
	font-family: MyriadPro-Regular;
}

.container {
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 20px);
	transition: margin 0.2s ease;
	z-index: 0;
	box-shadow: 0 0 0.8em rgba(0,0,0,0.2);
	background-color: rgb(239,239,244);
}

#pagecomb-pool {
	display: none;
}

.navigator {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20px;
	height: 2.8em;
	background-color: rgba(245,245,247,0.98);
	width: 100%;
	z-index: 500;
	border-bottom: 0.07em solid rgb(200,199,204);
	transition: opacity 0.2s ease, margin 0.2s ease;
}

.navigator.alpha {
	background-color: rgba(0,0,0,0);
}

.navigator .title {
	line-height: 1.3em;
	font-size: 1.3em;
	padding: 0.4em 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	transition: opacity 0.2s ease, margin 0.2s ease;
	color: rgb(3,3,3);
}

.navigator .left {
	top: 20px;
	line-height: 1.3em;
	font-size: 1.3em;
	padding: 0.4em 0;
	margin: 0 auto;
	text-align: left;
	position: absolute;
	left: 1em;
	z-index: 501;
	transition: opacity 0.2s ease, margin 0.2s ease;
	color: rgb(23,126,251);
}

.navigator .right {
	top: 20px;
	line-height: 1.3em;
	font-size: 1.3em;
	padding: 0.4em 0;
	margin: 0 auto;
	text-align: left;
	position: absolute;
	right: 1em;
	z-index: 501;
	transition: opacity 0.2s ease, margin 0.2s ease;
	color: rgb(23,126,251);
}

.wrap-cont {
	margin-top: 2.8em;
	width: 100%;
}

.list-view-title {
	font-size: 0.8em;
	padding: 0.5em 1em;
	padding-top: 2.5em;
	color: rgb(109,109,114);
}

.list-view-outer {
	background-color: #fff;
	border-top: 0.07em solid rgb(200,199,204);
	border-bottom: 0.07em solid rgb(200,199,204);
}

.list-view {
	margin-left: 1em;
	table-layout: fixed;
    width: calc(100% - 1em);
    border-collapse: collapse;
    border-spacing: 0;
}

.list-view td {
	font-size: 1em;
	height: 3em;
}

.list-view td:last-child {
	border-bottom: 0.07em solid rgb(200,199,204);
}

.list-view tr:last-child td {
	border-bottom: none;
}

.inner-content {
	padding: 0 1em;
}

.icon-small {
	width: 1em;
	height: 1em;
	font-size: 1em;
	line-height: 1em;
	padding: 0.5em;
	background-color: #000;
	border-radius: 0.4em;
	color: #fff;
	text-align: center;
	position: relative;
}

input[type="checkbox"] { 
	position: absolute;
	opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
	margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
	width: 34px;	height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
	width: 50px;	height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
	background-color: #00e359;
	border: 1px solid rgba(0, 162, 63,1);
	box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
	width: 16px; height: 16px;
	margin-top: 1px;
}

input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(16px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

input[type="checkbox"].bigswitch.ios-switch + div > div {
	width: 23px; height: 23px;
	margin-top: 1px;
}

input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

input[type="checkbox"].green.ios-switch:checked + div > div {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}
